/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Bebas-Neue;
  src: url('../designs/BebasNeue.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Cheddar-Jack;
  src: url('../designs/Cheddar Jack.ttf');
  font-style: normal;
  font-weight: normal;
}

body {
 background-color: black;
 background-color: rgb(0,0,0);
 color: white;
 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p:first-letter {
  font-size: 2em;
}

.bannerimage{
  width: 100%;
  height: auto;
}

.navbox {
  display: inline-block;
  width: calc(100% - 208px);
}

h1 { 
  margin-bottom: 1em;
  width: 100%;
  background-color: rgba(150,13,117,1.0);;
  text-align: center;
  font-family: Bebas-Neue;
  color: white;
  line-height: 1.3em;

}

h2 { 
  margin: 1em auto;
  width: 80%;
  background-color: rgba(0,169,199,1.0);;
  text-align: center;
  font-family: Bebas-Neue;
  color: white;
  line-height: 1.2em;

}

p { margin: 1em 0;
padding: 10px; }



header {
 
}

.sitename {
  font-weight: bold;
  color: rgba(0,169,199,1.0);
}

.contact-me {
  color :rgba(150,13,117,1.0);
}

.testimonial-name {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: rgba(150,13,117,1.0);
  font-family: Bebas-Neue;
  text-align: center;
  margin-left: 20px;
  line-height: 80px
}

#header .logo {
  padding: 25px;
  width: 142px;
  background-color: rgba(0,169,199,1.0);
  border: 4px solid rgba(150,13,117,1.0); 
  display:inline;
}

#responsive-header .logo2 {
  padding: 3%;
  background-color: rgba(0,169,199,1.0);
  border: 4px solid rgba(150,13,117,1.0); 
  box-sizing: border-box;

}

#header nav {
  line-height: 25px;
  border-bottom: 5px rgba(150,13,117,1.0) solid;
}

#header nav ul {
  text-align: left;
  margin-bottom: 5px;
  margin-left: 2px;
  text-align: center;
}

#header nav ul li {
  display: inline;
  margin-left: 0;
  padding: 0 15px;
  font-size: 25px;
  font-family: Bebas-Neue;
  list-style-type: none;
  top: 0px;
  position: relative;
  -webkit-transition: top .3s ease-in-out;
  border-radius: 5px;

}

#header nav ul li:hover {
top: -5px;
position:relative;
}

#header nav ul li:active {
  background-color: rgba(255,255,255,.2);
}

#header nav ul li a {
 
  text-decoration: none;
  color: rgba(0,169,199,1.0);
  text-shadow: -.3px .1px rgb(25, 128, 175);
}

#responsive-header nav {
  line-height: 25px;
  border-bottom: 5px rgba(150,13,117,1.0) solid;
}

#responsive-header nav ul {
  margin-bottom: 5px;
  text-align: center;
}
#responsive-header nav ul li:first-child {
  border-top: none;
}

#responsive-header nav ul li {
  margin-left: 0;
  padding: 5px 25px;
  font-size: 25px;
  font-family: Bebas-Neue;
  list-style-type: none;
  position: relative;
  border-top: 2px solid white;
}

#responsive-header nav ul li a {
  display: block;
  text-decoration: none;
  color: rgba(0,169,199,1.0);
  text-shadow: -.3px .1px rgb(25, 128, 175);
  width: 100%;
}

#responsive-header li.active a, #header li.active a  { color: rgba(150,13,117,1.0); }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5em;
}

.site header {
/*  width: 100%;
  display: block;
  background-repeat: no-repeat;
  font-size: 5em;
  font-weight: bold;
  line-height: 100%;*/
  margin-top: 80px;
  /*color: #3D3D56;*/
}

.site hr {
  width: 100%;
  color: #373772;
  background-color: #373772 ;
  height: 2px;
}

#content:after {  
  content: "";  
  display: table;  
  clear: both;  
}  

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
