/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

#navbar {
  margin: 0 auto; 
}

#navbar ul li {
  display: inline;
  padding: 5px;
}
#navbar ul li a {
  text-decoration: none;
   font: 13.34px Helvetica, Arial, sans-serif;
   font-weight: bold;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 50em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  border-color: orange;
  border-width: 4px;
  border-style: solid;
  background-color: white;
  -moz-border-radius-bottomright: 50px;
  border-bottom-right-radius: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  border-top-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  border-top-left-radius: 50px;
  padding: 20px;
}


#content:after {  
  content: "";  
  display: table;  
  clear: both;  
}  

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
