<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Piano with Josh encourages students to improve their technique and aural skills through learning and playing the music they love. Check out my Skype piano lessons, or stop by for a free lesson in Boston!">
  <title>Piano With Josh | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="../jquery-1.11.0.min.js"></script>

</head>
<body>
<div class="site">
 <header id="header" class="pure-g-r pure-hidden-phone pure-hidden-tablet">
  <div class="pure-u-1-1">
  <img class="logo" src="../designs/Piano With Josh_CMYK1.png"/>
  <div class="navbox">
   <nav id="navbar">
    <ul>
     <li><a href="/">HOME</a></li>
     <li><a href="/about">ABOUT JOSH</a></li>
     <li><a href="/onlinelessons">ONLINE LESSONS</a></li>

     <li><a href="/bostonpianolessons">BOSTON LESSONS</a></li>
     <li><a href="/rates">RATES</a></li>
     <li><a href="/contact">CONTACT</a></li>
     <!--li><a href="/blog">BLOG</a></li-->
   </ul>
  </nav>
   <img class="bannerimage" src="../images/1EKAlbumArt Banner Piano.jpg"/>
</div>
</div>
 </header>
 <header id="responsive-header" class="pure-g-r pure-hidden-desktop">
  <div class="pure-u-1-1">
  <img class="logo2" src="../designs/Piano With Josh_CMYK1.png"/>
  </div>
  <nav class="pure-u-1-1">
    <ul>
     <li><a href="/">HOME</a></li>
     <li><a href="/about">ABOUT JOSH</a></li>
     <li><a href="/onlinelessons">ONLINE LESSONS</a></li>

     <li><a href="/bostonpianolessons">BOSTON LESSONS</a></li>
     <li><a href="/rates">RATES</a></li>
     <li><a href="/contact">CONTACT</a></li>
     <!--li><a href="/blog">BLOG</a></li-->
    </ul>
  </nav>
 </header>
 
 <h1 id="title">{{page.title}}</h1>

<div id="content" class="clearfix">
  {{ content }}
</div>
</div> <!-- /container -->

</body>
<script type="text/javascript">
$(function() {
  console.log(location.pathname.split("/")[1].toUpperCase());
  $('nav a[href="/' + location.pathname.split("/")[1] + '"]').parent().addClass('active');
});
</script>
</html>
