<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div class="site">
 <div id="header">
  <header>
    LESSONS WITH JOSH
  </header>
  <hr/>
   <div id="navbar">
    <ul>
     <li><a href="/">Home</a></li>
     <li><a href="/about/">About Josh</a></li>
     <li><a href="/skypelessons/">Skype Lessons</a></li>

     <li><a href="/instudiolessons/">In Studio Lessons</a></li>
     <li><a href="/rates/">Rates</a></li>
     <li><a href="/contact/">Contact</a></li>
     <li><a href="/blog/">Blog</a></li>
   </ul>
  </div>
 </div>
 
 <h1>{{page.title}}</h1>

<div id="content" class="clearfix">
  {{ content }}
</div>
</div> <!-- /container -->

</body>
</html>
